body {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
h4 {
  color: brown;
}
li {
  text-decoration: none;
  list-style-type: none;
}
.content-new {
  margin-top: 30px;
}
.content-new-nav,
.content-new-navv {
  border-top: 3px solid brown;
}
.mav > li > a,
a {
  text-decoration: none;
  color: black;
}
.mav > li > a:hover {
  color: red;
}
a:hover {
  color: red;
}

a {
  font-size: 20px;
}

.content-new-nav {
  display: flex;
  justify-content: flex-start;
}
.content-new-img {
  margin-top: 15px;
}
.content-new-havvv {
  margin-top: 15px;
  margin-left: 15px;
}
.footer {
  margin-top: 120px;
  border-top: 5px solid brown;
}
